# This is a placeholder .env file for the Flutter build process.
# Real values should be provided via environment variables or a secure .env file during deployment.
OPENAI_KEY=placeholder
STRIPE_PUB_KEY=placeholder
STRIPE_SEC_KEY=placeholder
PAYSTACK_PUBLIC_KEY=placeholder
SENDGRILL_API_KEY=placeholder
SENDGRID_EMAIL_ADDRESS=placeholder
SENDGRID_TEMPLATE_ID=placeholder
SENDGRID_FORGOT_TEMPLATE_ID=placeholder
TEST_MONTHLY_PRICE=placeholder
TEST_YEARLY_PRICE=placeholder
