<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346913891380-0kntkeqe6fiuaugt2m3b0ln33g0qvj92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346913891380-0kntkeqe6fiuaugt2m3b0ln33g0qvj92</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>346913891380-cds941p23o1kr54d09p49fck6dbqveuo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9c6sOKzCf9ZrigkwS9kZnZr7Kv1bUe4E</string>
	<key>GCM_SENDER_ID</key>
	<string>346913891380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.codexia.businessbosses</string>
	<key>PROJECT_ID</key>
	<string>business-bosses</string>
	<key>STORAGE_BUCKET</key>
	<string>business-bosses.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346913891380:ios:82d314d129a8a111085661</string>
	<key>DATABASE_URL</key>
	<string>https://business-bosses-default-rtdb.firebaseio.com</string>
</dict>
</plist>